# Ignore sensitive files
.env
.DS_Store
schema.ts 
######### You will need to generate this schema.ts using the export schema tool in this app first

# Ignore node_modules and other build output
node_modules
build

# Ignore logs
logs

# Ignore pnpm files
.pnpm-store

# Ignore typescript build output
dist
bin

# Ignore IDE files
.vscode
.idea

# Ignore development dependencies
*.spec.js
*.test.js
*.d.ts
libDocs
output

# Deno specific
.env

# Coverage directory
coverage/

# IDE
.wi*
.vscode/*
!.vscode/settings.json
.idea/

# OS specific
.DS_Store
downloadMedia_debug.log
